<footer class="footerContainer" [@fadeInOut]>

  <!-- About Us -->
  <div class="footerContent">
    <div class="footerSection">
      <h3 class="footerSectionTitle">About Us</h3>
      <p class="footerSectionDesc">It's time to get organized and manage your customers in a smart, efficient,
        and advanced way! Here's the platform that will do all the work for you –
        from saving customer details, addresses, to contacts, and more.
      </p>
    </div>

    <!-- Quick Links -->
    <div class="footerSection">
      <h3 class="footerSectionTitle">Quick Links</h3>
      <ul class="footerSectionList">
        <li class="footerSectionListItem"><a class="footerSectionLink" routerLink="" >Home</a></li>
        <li class="footerSectionListItem"><a class="footerSectionLink" routerLink="customerMain">Add New Customers</a></li>
      </ul>
    </div>

    <!-- Contact Info -->
    <div class="footerSection">
      <h3 class="footerSectionTitle">Contact Info</h3>
      <ul class="footerSectionList">
        <li class="footerSectionListItem"><a  class="footerSectionLink" href="mailto:edardaniel20001030@gmail.com">Email: edardaniel20001030&#64;gmail.com</a></li>
        <li class="footerSectionListItem"><a class="footerSectionLink" href="tel:0523565655">Phone: 0523565655</a></li>
        <li class="footerSectionListItem"><a  class="footerSectionLink" href="https://www.google.com/maps" target="_blank" rel="noopener">Address: Sweet dreams</a></li>
      </ul>
    </div>

    <!-- Follow Us -->
    <div class="footerSection">
      <h3 class="footerSectionTitle">Follow Us</h3>
      <div class="footerSectionSocial">
        <a class="footerSectionSocialLink" href="https://www.facebook.com/profile.php?id=100051091839907" target="_blank" rel="noopener">
          <mat-icon class="footerSectionSocialLinkIcon">facebook</mat-icon>
        </a>
        <a class="footerSectionSocialLink" href="https://www.instagram.com/danielamos976/" target="_blank" rel="noopener">
          <mat-icon class="footerSectionSocialLinkIcon">photo_camera</mat-icon>
        </a>
        <a class="footerSectionSocialLink" href="https://www.linkedin.com/in/daniel-amos-artzi-83a446186/" target="_blank" rel="noopener">
          <mat-icon class="footerSectionSocialLinkIcon">linkedin</mat-icon>
        </a>
      </div>
    </div>
  </div>

  <!-- Rights -->
  <div class="footerBottom">
    <p class="footerBottomDesc">ED © {{currentYear}}. All rights reserved.</p>
  </div>
</footer>
